*fasl
*~
.#*
\#*
*.swp
*.swo
message
src/dependencies/cache*
src/dependencies/cache/
src/dependencies/dists/
src/dependencies/local-projects/
src/dependencies/tmp/
*fasl
*~
*.lo[fgtl]
*.aux
*.out
*.toc
*.bbl
*.blg
