Source: cl-xlunit
Section: lisp
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: dh-lisp
Build-Depends: debhelper (>> 7.0.0)
Standards-Version: 3.8.2.0
Homepage: http://files.b9.com/xlunit/
Vcs-Git: git://git.b9.com/xlunit.git
Vcs-Browser: http://git.b9.com/?p=xlunit.git

Package: cl-xlunit
Architecture: all
Depends: ${misc:Depends}
Description: Common Lisp eXtreme Lisp Unit Testing Package
 XLUnit provides a unit testing package for Common Lisp.
 It is based on the XPTest package by OnShore development, but is
 rewritten to be closer in usage to the JUnit package. Also, it is
 designed to be used with significantly less overhead on the
 part of the test author compared to XPTest.
